/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Serif Text', 'Martel', serif;
  scroll-behavior: smooth;
}

/* Navbar Styling */
.navbar {
    background: #fff;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navLink {
    color: #022b3a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease;
}

.navLink:hover {
    color:#1f7a8c;
    border-bottom: 5px solid ;
}

.navbar_container {
    padding: 0 50px;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* Mobile Responsiveness */
@media screen and (max-width: 960px)  {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;  
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar {
      background: #004E64;
    }
    
/* Dropdown Nav Menu Styling */
    .navbar_menu.active {
        background: #004E64;
        top: 100%;
        line-height: 1px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99999;
        height: 80vh;
        font-size: 1.6rem;
        padding: 1px;
        padding-bottom: 1480px;
    }

    .navbar_toggle .bar {
        width: 27px;
        height:3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(153, 222, 235);
    }

    .navbar_item {
        width: 100%;
    }

    .navLink {
        text-align: center;
        padding: 1px;
        width: 100%;
        display: table;
        color: whitesmoke;
    }

    .navLink:hover {
        border-bottom: none;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        transform: translate(7px, 5px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(7px, -3px) rotate(-45deg);
    }
}

/* Hero Section Styling */
.hero_section {
  padding: 0 60px;
  color: #022b3a;
  background: #fff;
  position: relative;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 720px;
}

.column_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-evenly; */
  align-items: flex-start;
}

.column_left h1 {
  font-size: 90px;
  color:#022b3a;
  border: 15px;
  padding: 10px;
  padding-left: 60px;
  line-height: 74px;
  
}

.column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column_right img {
    width: 37rem;
}

.headline {
    color: #1f7a8c;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    padding: 10px 55px;
}

.headline p {
    font-size: 40px;
}

.heroButton {
  margin-top: 40px;
  background-color: #25a18e;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  color: whitesmoke;
  padding: 15px 47px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.heroButton:hover{
    color:#9fffcb;

}

.header_image {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
    .hero_wrapper {
        display: flex;
        flex-direction: column;
      }

  .hero_section {
    padding: 30px;
  }

  .column_left h1 {
    margin-top: 60px;
    font-size: 65px;
    font-family: 'Shrikhand', cursive;

  }
}

@media screen and (max-width: 468px) {
  .column_left h1 {
    font-size: 50px;
  }
}

/* About Section */
.main_section {
    padding: 40px 20px 65px 65px;
    background-image: url('/images/bioBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #004e64;
}

.main_container h1 {
    font-size: 90px;
    color: #004e64;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #004e64;
    padding-top: 20px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

.main_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
}

.main_text {
    padding-right: 20px;
}

.bio {
    font-size: 17px;
    margin-left:20px;
}

.main_text h2 {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.main_text p {
    font-family: 'Martel';
    padding-left: 20px;
    line-height: 1.7;
}

.main_image {
    display: flex;
    justify-content: center;
}

.main_img { 
    width:410px;
    height:475px;
    border-radius: 60%;
}

/* Media Queries for About Section */

@media screen and (max-width: 1000px) {
    .main_section {
        padding: 30px;
    }
    .main_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main_image{
        margin-top: 40px;
    }

    .main_container h1{
        font-size: 55px;
        font-family: 'Shrikhand', cursive;
    }
}

@media screen and (max-width: 468px) {
    .main_text h2 {
        font-size: 32px;
    }

    .main_img{
        width:100%;
        height:100%
    }
}

/* Projects Styling */

.projects {
    background:rgb(18, 91, 175);
    color: white;
    position: relative;
}

.projects_container {
    background: royalblue;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.projects_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 700px;
}

.projects_container h1{
    font-size: 50px;
    font-family: 'Shrikhand', cursive;
}

.projects_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px;
}

.project_img {
    height: 120px;
}

.projects_content {
    display: flex;
    align-items: flex-start;
}

.projects_content img {
    margin-right: 50px;
}

.projects_description h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-right: 120px;
}

.projects_description p {
    line-height: 2;
}

 /* Projects Media Queries */

@media screen and (max-width: 768px) {
    .projects_grid {
        grid-template-columns: 1fr;
    }
}
    
@media screen and (max-width: 468px) {
    .projects_container {
        padding-top: 100px;
        padding-bottom: 160px;
        padding-left: 16px;
    }

.projects_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 900px;
}

.projects_container h1 {
    text-align: center;
    margin-bottom: 170px
}

.projects_left {
    padding: 0 24px;
}

.projects_content{
    margin-top: 40px;
}

.projects_content img {
    margin-right: 16px;
}
}

/* Portfolio Styling */

.portfolio_container {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left:50px;
}
    
.portfolio_container h1 {
    font-size: 90px;
    color: #004E64;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #004E64;
    padding-top: 10px;
    font-family: 'Shrikhand', cursive;
    margin: 0 50px;
    text-align: center;
}

.portfolio_main h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #25A18E;
    margin: 0 50px;

}

.portfolio_main p {
    line-height: 1.5;
    margin-right: 50px;
    padding: 10px;
    font-size: 20px;
    color: #25A18E;
    margin: 0 50px;
}

.portfolio_main a {
    color: white;
    text-decoration: none;
}


/* Portfolio Media Queries */
@media screen and (max-width: 1368px){
    .portfolio_projects {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio {
        padding: 30px;
    }

    .portfolio_container h1 {
        font-size: 70px
    }

    .portfolio_container {
        padding-left: 20px;
    }

    .portfolio_right{
        margin-bottom: 10px;
    }
}


@media screen and (max-width: 468px) {
    .portfolio {
        padding: 10px;
    }
    
    .portfolio_container h1 {
        font-size: 40px;
    }

    .contactHeader {
        font-size: 50px;
    }
}

/* Contact Page Styling */

.contactSection {
   background: #fff;
   padding-bottom: 100px;
   padding-top: 70px;
   font-family: 'Staatliches';
   text-transform: uppercase;
   
}

#contactHeader {
    font-size: 90px;
    color: #004E64;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #004E64;
    font-family: 'Shrikhand', cursive;
    padding-bottom: 50px;
    text-align: center;
}

  .contactWrapper {
      display: flex;
      flex-direction: row;
  }

  .contactImg {
      margin-left: 40px;
      margin-right: 30px;
      border-radius: 20%;
      opacity: 0.85;
      max-height: 350px;
      display: flex;
      justify-content: center;
  }

  .contactInfo {
    font-family: 'Staatliches';
    flex:2;
    margin-left: 20px;
    margin-right: 10rem;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 1.5px #022b3a;
    background-color: #9FFFCB;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.contactLink {
    text-decoration: none;
    color: #022b3a;
}

.contactLink:hover {
    color: seashell;
}

@media screen and (max-width: 960px) {
    .contactWrapper {
      display: flex;
      flex-direction: column;
    }

    #email {
        font-size: 18px;
    }

    #contactHeader {
        font-size: 65px;
        padding-left: 20px;
    }

    .contactImg {
        display: none;
      }
  }


/* Project Card Styling */

.columns {
        display: grid;
        margin-left: 70px;
        margin-right: 70px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));;
        gap: 5px;
        grid-auto-rows: auto;
        flex-direction: row;
      }


.cardWrapper {
    margin: 10 auto;
    max-width: 600px;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 100px;
}


.project_container {
    width: 350px;
    height: 425px;
    gap: 10px;
    z-index:700;
    padding: 10px 10px 10px 10px;
    top:0; right: 0; left: 0; bottom: 0;
    margin: auto;
    resize: horizontal;
    overflow: none;
    background: url("images/FFA.png");
    background-color: black;
    background-size: 100%;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    padding-bottom: 100px;
    border: cornsilk;
    border-style: solid;
    border-width: 10px;
    font-family: 'DM Serif Text', serif;
    }

    #projectP {
        font-size: 16px;
        padding-bottom: 15px;
        text-decoration: none;
        font-family: 'DM Serif Text', serif;
    }

    .project_card {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }

    .overlay {
        width: 100%;
        height: 100%;
        height: 380px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 2fr 1fr;
        background: rgba(46, 45, 54, 0.9);
        color: rgb(243, 237, 237);
        opacity: 0;
        transition: all 0.5s;
        font-family: 'DM Serif Text', serif;
        font-size:10px;
          }

      .project_description {
        padding-top: 40px;
        padding-left: 20px;
        letter-spacing: 3px;
        font-family: 'DM Serif Text', serif;
      }

      .project_header {
          font-size: 30px;
          line-height: 20px;
          padding-bottom: 20px;
          margin-top: 2px;
          font-family: 'DM Serif Text', serif;
          transform: translateY(40px);
          transition: all 0.7s;
      }

      .desc_1 {
            color: lighten(rgb(77, 77, 77),40%);
            font-size: 25px;
            font-family: 'DM Serif Text', serif;
      }

      .project_container:hover .overlay {
        opacity: 1;
      }

      .project_links {
          align-items: center;
          text-transform: uppercase;
          color: white;

      }

      #externalLink {
          color: white;
          text-decoration: none;
      }

      #fa-icon {
          font-size: 20px;
          
      }

      .btn {
          width: 155px;
          height: 40px;
          background: rgba(1, 1, 2, 0.2);
          border-radius: 10px;
          color: white;
          display: inline-block;
          vertical-align: bottom;
      }

      .btn:hover {
        color:rgb(25, 228, 228);
        cursor: pointer;
        border-color: white;
    }

    #projectPage {
        color: white;
        padding: 50px;
        padding-bottom: 30px !important;
        font-size:16px;
        text-decoration: none;
    }

    #projectPage:hover {
        color: rgb(78, 106, 113);
    }

    @media screen and (max-width: 400px) {
        .project_container {
            width: 320px;
            margin-left: 17px;
        }

        #projectP  {
            font-size: 12px;
        }

        #projectPage {
            color: white;
            padding: 50px;
            padding-bottom: 30px !important;
            font-size:13px;
            text-decoration: none;
    
        }
 }

    /* Skills Section Styling*/
.skills {
    color: #004e64;
}

.skillHeader {
    font-size: 20px;
}

.skillSection {
    margin-top: -180px;
    color: #004E64;
    font-size: 40px;
    padding-left: 40px;
}

  .column {
    margin-left: 20px;
    margin-top: -80px;
    float: left;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 23%;
    background: #9fffcb;
    padding: 30px 10px;
  }

  .skillHeader .skills {
      display: flex;
      align-items: flex-start;
      text-align: justify;
  }

  #languages {
      padding-bottom: 28px;
  }

  #databases {
      padding-bottom: 54px;
  }

  #frameworks {
      padding-bottom: 4px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
      width: 100%;
      padding-bottom: 35px;
    }
  }

  /* Footer Styling */
.footer {
    background: rgb(243, 245, 248);
    color:midnightblue;
    background-size: 100%;
}

.footer_container {
    padding: 30px;
    display: grid;
    grid-template-columns: 5fr ;
}

.footer_left {
    display: flex;
    flex-direction: column;
}

.footer_left h2 {
    margin-bottom: 24px;

}

.footer_left p {
    line-height: 2;
}

.footer_right {
    justify-content: left;
 
}

.footer_right a {
    color:seashell;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .topBtn {
        float: right;
        margin-top: 20px;
        bottom: 15px;
        margin-right: 20px;
        font-size: 40px;
        color: #022b3a;
    }
    
    /* Styling "Back to Top to appear on hover only */
    
    .hide {
        display: none;
      }
      
      .topBtn:hover + .hide {
        display: block;
        color: rgb(17, 3, 78);
        float: right;
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 20px;
      }


