* {
    box-sizing: border-box;
}

body {
    background-color: #FAF3E0;
    font-family: 'Damion', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}